calculatorwebservice/wsdlsrc/webcalculator.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:axis2="http://service.webcalculator/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://service.webcalculator/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://service.webcalculator/">
    <wsdl:documentation>webcalculator</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://service.webcalculator/xsd">
            <xs:element name="add">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="firstNo" type="xs:int"/>
                        <xs:element minOccurs="0" name="secondNo" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="addRequest">
        <wsdl:part name="parameters" element="ns:add"/>
    </wsdl:message>
    <wsdl:message name="addResponse">
        <wsdl:part name="parameters" element="ns:addResponse"/>
    </wsdl:message>
    <wsdl:portType name="webcalculatorPortType">
        <wsdl:operation name="add">
            <wsdl:input message="axis2:addRequest" wsaw:Action="urn:add"/>
            <wsdl:output message="axis2:addResponse" wsaw:Action="urn:addResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="webcalculatorSoap11Binding" type="axis2:webcalculatorPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="add">
            <soap:operation soapAction="urn:add" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="webcalculatorSoap12Binding" type="axis2:webcalculatorPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="add">
            <soap12:operation soapAction="urn:add" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="webcalculatorHttpBinding" type="axis2:webcalculatorPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="add">
            <http:operation location="webcalculator/add"/>
            <wsdl:input>
                <mime:content type="text/xml" part="add"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="add"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="webcalculator">
        <wsdl:port name="webcalculatorHttpSoap11Endpoint" binding="axis2:webcalculatorSoap11Binding">
            <soap:address location="http://localhost:8080/webcalculator/services/webcalculator.webcalculatorHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="webcalculatorHttpSoap12Endpoint" binding="axis2:webcalculatorSoap12Binding">
            <soap12:address location="http://localhost:8080/webcalculator/services/webcalculator.webcalculatorHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="webcalculatorHttpEndpoint" binding="axis2:webcalculatorHttpBinding">
            <http:address location="http://localhost:8080/webcalculator/services/webcalculator.webcalculatorHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
